.audio-player {
    position: relative;
    width: 100%;
    height: 100%;
    input[type="range"] {
        display: none;
    }
    button,
    i {
        margin: 0;
        padding: 0;
    }
    .audio-artwork {}
    .track-range {
        position: absolute;
        width: 100%;
        top: 1px;
        transform: translate3d(0, -50%, 0);
    }
    .audio-info {}
    .audio-controls {
        width: 100%;
        background-color: #fff;
        [class*="-section"] {
            display: inline-block;
        }
        .left-section {
            left: 0;
            position: absolute;
            top: 1.5 * $increment-keyline;
            padding: 0 $content-padding $vertical-sizing;
            .repeat-btn {
                &.repeat {
                    @extend .pressed;
                }
            }
        }
        .center-section {
            position: relative;
            width: 100%;
            text-align: center;
            height: 1.5 * $increment-keyline;
            padding: $vertical-sizing $content-padding 0;
            z-index: 1;
            button {
                vertical-align: middle;
            }
            .play-pause-btn {
                text-align: center;
                border-radius: 50%;
                width: 1.25 * $increment-keyline;
                height: 1.25 * $increment-keyline;
                overflow: hidden;
                line-height: 1.25 * $increment-keyline;
                font-size: 0;
                user-select: none;
                background-color: $brand-primary-accent;
                i {
                    color: #fff;
                    font-size: 32px;
                    width: 1.25 * $increment-keyline;
                    height: 1.25 * $increment-keyline;
                    line-height: 1.25 * $increment-keyline;
                    will-change: transform;
                    transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1);
                }
                &.paused {
                    i {
                        transform: translateX(0);
                        &.pause {
                            transition-delay: .06s;
                        }
                    }
                }
                &.playing {
                    i {
                        transform: translateX(-100%);
                        &.play {
                            transition-delay: .06s;
                        }
                    }
                }
            }
        }
        .right-section {
            position: absolute;
            top: 1.5 * $increment-keyline;
            right: 0;
            width: 3 * $increment-keyline;
            text-align: end;
            padding: 0 $vertical-sizing $vertical-sizing;
            will-change: width;
            transition: width 0.28s cubic-bezier(0.4, 0, 0.2, 1);
            .vol-down, .vol-up {
                will-change: opacity;
            }
            .vol-down {
                opacity: 0;
                transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
            }
            .slider-bar {
                opacity: 0;
                transition: opacity 0.1s 0.18s cubic-bezier(0.4, 0, 0.2, 1);
            }
            &:hover {
                width: 100%;
                background-color: inherit;
                .vol-down, .vol-up {
                    opacity: 1;
                    transition: opacity 0.1s 0.28s cubic-bezier(0.4, 0, 0.2, 1);
                }
                .slider-bar {
                    opacity: 1;
                    transition: opacity 0s cubic-bezier(0.4, 0, 0.2, 1);
                }
            }
        }
        .current-time {
            position: absolute;
            width: 100%;
            top: 0;
            padding: $vertical-keyline $content-padding;
            opacity: 0;
            will-change: opacity;
            transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
            user-select: none;
            pointer-events: none;
            p.elapsed-time, p.total-time {
                @extend .caption;
                display: inline-block;
                user-select: none;
            }
            p.elapsed-time {
                text-align: left;
                float: left;
            }
            p.total-time {
                text-align: end;
                float: right;
            }
        }
        .audio-actions {
            position: absolute;
            right: 0;
            top: 0;
            padding: $vertical-keyline $content-padding;
        }
        button {}
        &:hover {
            .current-time {
                opacity: 1;
            }
        }
    }
    &.mini-player {
        height: 3 * $increment-keyline;
        .audio-controls {
            height: inherit;
        }
    }
    &.controls-only {
        height: 2.75 * $increment-keyline;
        .audio-controls {
            height: inherit;
            position: relative;
        }
        .audio-artwork,
        .audio-info {
            @extend .hidden;
        }
        .audio-actions {
            @extend .hidden;
        }
    }
}

/*

.play-pause-btn {
    .top-icon, .bottom-icon{
        transition: all .3s linear, background-color 0s linear;

            background-color: #fff;
    }
    &.paused {
        .top-icon, .bottom-icon {
            width: 0;
            height: 0;
            margin: auto;
            transform: translateX(10%);
            border-top: 10px solid $brand-primary-accent;
            border-left: 15px solid #fff;
        }
        .bottom-icon {
            border-bottom: 10px solid $brand-primary-accent;
            border-top: none;
        }
    }
    &.playing {
        .top-icon, .bottom-icon {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 20px;
            width: 6px;
            border: none;
            position: absolute;
            &:first-child {
                left: -10px;
            }
            &:last-child {
                right: -10px;
            }
        }
    }
}
*/
