.content {
    border: 1px solid black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.gamename {
    background-color: #CFD8DC;
    color: black;
    font-size: 130%;
    width: 61%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px 6px 26px 3px #607D8B;
    border-radius: 5px 5px 0px 0px;
    display: inline-block;
}

.tag {
    background-color: lightblue;
    display: inline-block;
}

.disabledsubmit {
    color: lightgray;
}


