#content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 5px;
}

.tagclass {
    padding: 5px;
    display: inline-block;
    width: 23%;
    border: 1px solid black;
}

#description {
    width: 100%;
    resize: none;
}

h3 {
    text-align: center;
}