.gametable {
    border: 1px solid black;
    width: 40%;
    width: 90%;
}

.gametable tr td {
    border: 1px solid black;
    padding-left: 1rem;
    width: 25%;
}

#header {
    font-weight: bold;
    text-align: center;
}

#header td {
    padding-left: 0;
}