/*Main View*/

#view {
    margin: 0 auto;
    width: 80%;
    padding: 16px;
}


/*Header*/

header.site-header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10000;
}


/*Bottom Sheet*/

.bottom-sheet {

}