@charset "UTF-8";
.theme-switch,
.extend-appbar,
.extend-special,
.color-appbar {
        position: fixed;
        z-index: 100000;
        bottom: 16px;
        right: 16px;
}
.extend-appbar {
        right: 96px;
}
.extend-special {
        right: 176px;
}
.color-appbar {
        right: 256px;
}

// Variables
@import "modules/variables/variables";

// Reset
@import "modules/normalize";

// Animations
@import "modules/animations/animations";

// Layout
@import "modules/layout/layout";

// Styles
@import "modules/styles/styles";

// Forms

@import "modules/forms/forms";

// Components
@import "modules/components/components";
